.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 6px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: row;
}

.image {
    flex: 1;
    margin-right: 20px;
    padding: 5px;
    text-align: center;
    font-size: small;
}

.image img {
    max-width: 100%;
    margin-top: 10px;
}

.text {
    flex: 2;
}

p{
    margin: 10px;
}
hr{
    margin-top: 5px;
    margin-bottom: 5px;
}